.circle-container {
    display: flex;
    justify-content: space-around; /* or use justify-content: space-between; */
    align-items: center;
    margin-top: 20px;
}

.circle {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}