<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <h1 style="text-align: center;">Choose Your Avatar</h1>
        <body>
            <div class="box">
              <!-- <div class="circle-container">
                  <div class="circle"><img src="/resources/img/ferret.png" alt="Image 1"></div>
                  <div class="circle"><img src="/resources/img/buffalo.png" alt="Image 2"></div>
                  <div class="circle"><img src="/resources/img/Iguana.png" alt="Image 3"></div>
                  <div class="circle"><img src="/resources/img/koala.png" alt="Image 4"></div>
                  <div class="circle"><img src="/resources/img/macaw.png" alt="Image 5"></div>
              </div> -->
              <form action="/avatars" method="post">
                <div class="circle-container">
                    <button type="submit" name="avatar" value="1" data-background="/resources/img/ferret-background.jpg" class="circle">
                      <img src="/resources/img/ferret.png" alt="Image 1" >
                    </button>
                    <button type="submit" name="avatar" value="2" data-background="/resources/img/buffalo-background.jpg" class="circle">
                      <img src="/resources/img/buffalo.png" alt="Image 2">
                    </button>
                    <button type="submit" name="avatar" value="3" data-background="/resources/img/Iguana-background.jpg" class="circle">
                      <img src="/resources/img/Iguana.png" alt="Image 3">
                    </button>
                    <button type="submit" name="avatar" value="4" data-background="/resources/img/koala-background.jpg" class="circle">
                      <img src="/resources/img/koala.png" alt="Image 4">
                    </button>
                    <button type="submit" name="avatar" value="5" data-background="/resources/img/macaw-background.jpg" class="circle">
                      <img src="/resources/img/macaw.png" alt="Image 5">
                    </button>
                </div>
            </form>
            </div>
      </body>
        <!-- Overlay for non-logged-in users (unfinished) -->
        <!-- <div class="overlay">
            <div class="blurry-container">
                <h2>Please log in to access avatars.</h2>
            </div>
        </div> -->
        
    </div>
  </main>

  <!-- listens and switches the background image of the page based on which avatar you choose (unfinished)-->
  <!-- <script>
    document.getElementById('avatarForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const selectedAvatar = document.querySelector('input[name="avatar"]:checked').value;

        const backgroundImage = document.querySelector(`button[name="avatar"][value="${selectedAvatar}"]`).getAttribute('data-background');

        document.body.style.backgroundImage = `url('${backgroundImage}')`;

        event.target.submit();
    });
</script> -->

<link rel="stylesheet" type="text/css" href="/resources/css/style.css">

<%- include ('../partials/footer') %>