<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container" id="backgroundContainer" style="background-image: url('/resources/img/ferret-background.png');">
        <body>
            <div class="box" id="infoBox">
              <h1 style="text-align: center;">Choose Your Avatar</h1>
              <form action="/avatars" method="post">
                <div class="circle-container">
                  <button type="submit" name="avatar" value="1" data-background="/resources/img/ferret-background.jpg" style="background: url('/resources/img/ferret.png') center/cover no-repeat; width: 150px; height: 150px; border: none;"></button>
                  <button type="submit" name="avatar" value="2" data-background="/resources/img/buffalo-background.jpg" style="background: url('/resources/img/buffalo.png') center/cover no-repeat; width: 150px; height: 150px; border: none;"></button>
                  <button type="submit" name="avatar" value="3" data-background="/resources/img/Iguana-background.jpg" style="background: url('/resources/img/Iguana.png') center/cover no-repeat; width: 150px; height: 150px; border: none;"></button>
                  <button type="submit" name="avatar" value="4" data-background="/resources/img/koala-background.jpg" style="background: url('/resources/img/koala.png') center/cover no-repeat; width: 150px; height: 150px; border: none;"></button>
                  <button type="submit" name="avatar" value="5" data-background="/resources/img/macaw-background.jpg" style="background: url('/resources/img/macaw.png') center/cover no-repeat; width: 150px; height: 150px; border: none;"></button>
                </div>
            </form>
            </div>
      </body>
        <!-- Overlay for non-logged-in users (unfinished) -->
        <!-- <div class="overlay">
            <div class="blurry-container">
                <h2>Please log in to access avatars.</h2>
            </div>
        </div> -->
        
    </div>
  </main>

  <!-- listens and switches the background image of the page based on which avatar you choose (unfinished)-->
  <!-- <script>
    document.getElementById('avatarForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const selectedAvatar = document.querySelector('input[name="avatar"]:checked').value;

        const backgroundImage = document.querySelector(`button[name="avatar"][value="${selectedAvatar}"]`).getAttribute('data-background');

        document.body.style.backgroundImage = `url('${backgroundImage}')`;

        event.target.submit();
    });
</script> -->

<link rel="stylesheet" type="text/css" href="/resources/css/style.css">

<%- include ('../partials/footer') %>