<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <h1>Avatars</h1>
        <body>
            <div class="box">
                
            </div>
      </body>
    </div>
  </main>

<%- include ('../partials/footer') %>