<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <h1>Avatars</h1>
        <body>
            <div class="box">
              <div class="circle-container">
                  <div class="circle"><img src="/resources/img/ferret.png" alt="Image 1"></div>
                  <div class="circle"><img src="/resources/img/buffalo.png" alt="Image 2"></div>
                  <div class="circle"><img src="/resources/img/Iguana.png" alt="Image 3"></div>
                  <div class="circle"><img src="/resources/img/koala.png" alt="Image 4"></div>
                  <div class="circle"><img src="/resources/img/macaw.png" alt="Image 5"></div>
              </div>
            </div>
      </body>
    </div>
  </main>

<link rel="stylesheet" type="text/css" href="/resources/css/style.css">

<%- include ('../partials/footer') %>