<!DOCTYPE html>
<html>
<head>
    <title>Random Land Coordinates</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <button id="generate">Generate Coordinates</button>
    <p id="coordinates"></p>

    <script src="/resources/js/script.js"></script>
</body>
</html>