<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <head>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        </head>
        <body>
            <div class="box centered">
                <div id="coordinates"></div>
                <div id="location-info" class="location-details">
                    <p id="country"></p>
                    <p id="state"></p>
                    <p id="city"></p>
                    <p id="errorMessage" style="color: red;"></p>
                    <p id="loadingMessage" style="display: none;">Loading...</p>
                </div>
                <div id="weather-info">
                    <p id="temperature"></p>
                    <div id="weather-icon"></div>
                    <p id="weather-condition"></p>
                    <p id="humidity"></p>
                </div>
                <button id="generate">RANDOMIZE</button>
                <div id="errorMessage"></div>
                <script src="/resources/js/script.js"></script>
            </div>
            <!-- <div id="my-map" class="map-container"></div> -->
      </body>
    </div>
</main>

<link rel="stylesheet" type="text/css" href="/resources/css/style.css">

<%- include ('../partials/footer') %>
