<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <h1>Home</h1>
        <head>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        </head>
        <body>
            <div class="box centered">
                <button id="generate">Generate Coordinates</button>
                <p id="coordinates"></p>

                <script src="/resources/js/script.js"></script>
            </div>
      </body>
    </div>
  </main>

<%- include ('../partials/footer') %>