<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <h1>Home</h1>
        <head>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        </head>
        <body>
            <div class="box centered">
                <button id="generate">Generate Coordinates</button>
                <p id="coordinates"></p>
                <p id="errorMessage" style="color: red;"></p>
                <div id="location-info"></div>
                <div id="weather-info">
                    <h2>Weather Information</h2>
                    <p id="temperature"></p>
                    <div id="weather-icon"></div>
                    <p id="weather-condition"></p>
                    <p id="humidity"></p>
                </div>
                <script src="/resources/js/script.js"></script>
            </div>
      </body>
    </div>
</main>

<link rel="stylesheet" type="text/css" href="/resources/css/style.css">

<%- include ('../partials/footer') %>
