<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resources/css/style2.css">
  </head>
    <body id="reg-body">
      <div class="login-container">
        <div class="box-login">

        <div class="login-box" id="login">
        
            <form action="/register" method="POST">

              <div class="login-header">
                <h1> Register </h1>
              </div>

              <div class="loginput-group">

                <div class="loginput-field">
                  <input type="text" class="loginput-box" id="username" name="username" required>
                  <label for="username">Username</label>
                </div>

                <div class="loginput-field">
                  <input type="text" class="loginput-box" id="email" name="email" required>
                  <label for="email">Email</label>
                </div>

                <div class="loginput-field">
                  <input type="password" class="loginput-box" id="password" name="password" required>
                  <label for="password">Password</label>
                </div>

                <div class="loginput-field">
                  <input type="submit" class="loginput-submit" value="Sign Up">
                </div>
              </div>

            </form>

            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
        </div>
      </div>
    </body>
  </main>

<%- include ('../partials/footer') %>